In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('Car_purchase.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.shape

(400, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
df["Gender"]=le.fit_transform(df["Gender"])
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [7]:
x=df.iloc[:,1:4]
x.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [8]:
y=df.Purchased
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [9]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()

In [10]:
x_scaled=pd.DataFrame(ms.fit_transform(x),columns=x.columns)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(320, 3) (80, 3) (320,) (80,)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [14]:
y_pred=knn.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [15]:
#random val prediction
knn.predict([[1,32,199000]])

c:\Users\avrit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score,classification_report

In [17]:
score=accuracy_score(y_pred,y_test)
score

0.8375

In [18]:
classification_report(y_pred,y_test)

'              precision    recall  f1-score   support\n\n           0       0.90      0.88      0.89        59\n           1       0.68      0.71      0.70        21\n\n    accuracy                           0.84        80\n   macro avg       0.79      0.80      0.79        80\nweighted avg       0.84      0.84      0.84        80\n'

In [19]:
pd.crosstab(y_pred,y_test)

Purchased   0   1
row_0
0          52   7
1           6  15

In [20]:
import pickle

In [21]:
pickle.dump(knn,open('car_pur.pkl','wb'))